@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p><a href='@Url.Action("SelectIndumentaria")'>Seleccionar Indumentaria</a></p>
</div>
<div id = "Muestra">
@foreach (var item in ViewBag.EquipoIndumentaria)
    {
        <p>El nombre del Equipo es: @item.Key</p> 
        <img src="/img/Medias/@item.Value.Medias" alt="">
        <img src="/img/Camisetas/@item.Value.Camiseta" alt="">
        <img src="/img/Shorts/@item.Value.Pantalon" alt="">
    }
</div>
