@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p><a href='@Url.Action("SelectIndumentaria")'>Seleccionar Indumentaria</a></p>
</div>
<div id = "Muestra">
@foreach (var item in ViewBag.EquipoIndumentaria.Keys)
    {
        <p>El nombre del Equipo es: @item</p>
        <p>Los datos faltantes de la Indumentaria son: @ViewBag.EquipoIndumentaria.Values</p>
    }
</div>
