html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: rgb(234, 247, 121);
}
#Formulario{
  float: left;
  border: 5px solid black;
}
div img{
  width: 7.5%;
  height: auto;
}
h3{
  color: rgb(127, 193, 255);
}
#Muestra{
  color: rgb(197, 130, 177);
}
#Seleccion{
  color: rgb(80, 80, 151);
}